
*.cache
*.cache
GitProject/GitProject/obj/Debug/GitProject.pdb
GitProject/GitProject/obj/Debug/GitProject.dll
*.cache
GitProject/GitProject/obj/Debug/GitProject.csproj.FileListAbsolute.txt
GitProject/GitProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GitProject/GitProject/obj/Debug/DesignTimeResolveAssemblyReferences.cache
